body{
    background-color:  	#E0FFFF;
}

.container{

    width: 80%;
    margin:auto;
    
}

h1{
    text-align: center;
}

.img_corpo{
    width: 50%;
}

figure{
    text-align: center
}

.img_topo{
    width: 100%;
}

p{
    font-size: 1.3em
    font-weight: bold;
    text-indent: 40px;
    text-align: justify;
    }